{
  "presets": [
    "flow",
    ["env", {
      "exclude": ["transform-async-to-generator"],
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "fast-async",
    "lodash",
    "transform-object-rest-spread",
    "babel-plugin-inline-json-import",
    "babel-plugin-closure-elimination",
    "babel-plugin-loop-optimizer",
    "babel-plugin-transform-function-bind",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-simplify-comparison-operators",
    "babel-plugin-minify-simplify",
    "babel-plugin-minify-constant-folding",
    "babel-plugin-minify-dead-code-elimination",
    "babel-plugin-minify-guarded-expressions",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }]
  ],
  "ignore": [
    "**/*.test.js",
    "**/node_modules/*.js"
  ]
}
