{
  "sourceMaps": true,
  "presets": [
    [
      "env",
      {
        "exclude": [
          "transform-async-to-generator"
        ],
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "lodash",
    "closure-elimination",
    "transform-object-rest-spread",
    "loop-optimizer",
    "transform-function-bind",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./src",
          "./src/lib"
        ],
        "alias": {
          "ale-persistence": "/lib/ale-persistence",
          "logger": "./logger.js"
        }
      }
    ],
    [
      "flow-runtime",
      {
        "assert": true,
        "annotate": true
      }
    ],
    "syntax-flow",
    "inline-json-import"
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.test.js",
        "**/node_modules/*.js"
      ],
      "plugins": [
        [
          "flow-runtime",
          {
            "assert": false,
            "annotate": false
          }
        ],
        "fast-async",
        "transform-property-literals",
        "transform-node-env-inline",
        "transform-simplify-comparison-operators",
        "inline-dotenv",
        "transform-inline-environment-variables",
        "minify-constant-folding",
        "minify-dead-code-elimination",
        "minify-guarded-expressions",
        "minify-simplify",
        "minify-flip-comparisons",
        "minify-numeric-literals"
      ]
    }
  }
}