{
  "presets": [
    "flow",
    ["env", {
      "exclude": ["transform-async-to-generator"],
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "fast-async",
    "lodash",
    "closure-elimination",
    "transform-object-rest-spread",
    "loop-optimizer",
    "transform-function-bind",
    "transform-class-properties",
    ["root-import", {
      "rootPathSuffix": "src"
    }],
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }]
  ],
  "env": {
    "production": {
      "ignore": [
        "**/*.test.js",
        "**/node_modules/*.js"
      ],
      "plugins": [
        "transform-property-literals",
        "transform-node-env-inline",
        "inline-json-import",
        "transform-simplify-comparison-operators",
        "inline-dotenv",
        "transform-inline-environment-variables",
        "minify-constant-folding",
        "minify-dead-code-elimination",
        "minify-guarded-expressions",
        "minify-simplify",
        "minify-flip-comparisons",
        "minify-numeric-literals"
      ]
    }
  }
}
